<!DOCTYPE html>
<!-- This website template was created by: Ivan Sevilla -->
<html lang="en">
<head>
	<link rel="stylesheet" href="css/styles.css">
	<title>FIFA World Cup</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>

	<div id="container">

	<!-- Use the header area for website name or logo -->
	<header>
		<a href="index.html"><img src="images/fifa.png" alt="FIFA logo"></a>
		<h1 style="font-family: 'Bruno Ace SC', cursive;; font-weight: bold; font-size: 6em; color:#1077C3; text-decoration: underline overline; padding-top: .5em">World Cup</h1>
	</header>

	<!-- Use the nav area to add hyperlinks to other pages within the website -->
	<nav>
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="winners.html">Winners</a></li>
			<li><a href="2022.html">2022 World Cup</a></li>
			<li><a href="teams.html">Teams</a></li>
			<li><a href="highlights.html">Highlights</a></li>
		</ul>
	</nav>

	<!-- Use the main area to add the main content of the webpage -->
	<main>
	</main>

	<!-- Use the footer area to add webpage footer content -->
	<footer>
		&copy; Copyright 2023. All Rights Reserved. <br>
		Content property of FIFA
	</footer>
	
	</div>

</body>
</html>